.card
    margin-bottom: 16px;
    padding: 16px;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    box-shadow: 0px 3px 7px 0px #DEDEDE;
    font-family: 'Roboto', sans-serif;
    color: #5E5E5E